
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/app.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>

<header class="header" id="header">
    <!-- Navabar section -->
        <ul class="nav navbar container justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link ">Contact</a>
            </li>
          </ul>
</header>

<section class="hero">

        <div class="d-flex align-items-stretch">
            <div class="right-hero ">
                <h1>Charity Is An
                    Act OfASoft
                    Heart.</h1>
                    <p>We've spent the last5years helping over 25.00000
                        teams just like yourself create and sustain
                        successful online support.obo</p>
                        <div class="btn-scetion">
                      <div class="btn">
                          <button>Donnet Here ..</button>
                      </div>
                      <div class="video"></div>
                        </div>
    
                        <div class="soical-media ">
                            <ul class="d-flex">
                                <li><a href="#">Facebook</a></li>
                                <li><a href="#">twiter</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
    
            </div>
        <div class="left-hero">
            <img src="../../img/World-Hunger-India-Africa 1.png" alt="#" width="60%">
        </div>
        </div>
</section>
 <section class="second_hero">

 </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>