//colors

$primary:#1FA0E8 ;

$btn-border:  #FFD500; 

$btn-offer:  #FDD835;

$main-primary:  linear-gradient(#1FA0E8, #0C63FF );

$sceondary : #f1f4ff;

$pure : #fff;

$dark: #232323;

$gray : #ccc;

